---
import { Image } from "@unpic/astro";
import { blurhashToCssGradientString } from "@unpic/placeholder";

import Layout from '../layouts/Layout.astro';

import { getAllPhotos } from '../lib/get-all-photos'

const photoSrcs = await getAllPhotos()

let photos = []

for (const src of photoSrcs) {
	const fullSrc = `https://dschau-pictures.imgix.net${src}`

	photos.push({
		src: fullSrc,
		blurhash: await fetch(`${fullSrc}?fm=blurhash&$w=50`).then(res => res.text())
	})
}
---

<Layout title="Welcome to Astro.">
	<main>
		<header>
			<h1><span class="text-gradient">Noah Antone Schau</span></h1>
		</header>
		<ul class="photos">
		{photos.map(photo => {
			const placeholder = blurhashToCssGradientString(photo.blurhash);
			return (
				<li>
					<Image
						src={photo.src}
						background={placeholder}
						layout="fullWidth"
						alt="TODO, make descriptive or use AI or something who knows"
					/>
			</li>
			)
		})}
		</ul>
	</main>
</Layout>

<style>
	header {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	main .photos {
		max-width: 100%;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;

		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.photos {
		margin: 0;
		padding: 0;
	}

	.photos > li {
		list-style-type: none;
		padding-left: 0;

		margin: 1rem 0;
	}
</style>
